* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  /* margin: 2em 8em; */
  /* background-image: linear-gradient(to right, #75B095, #0F5837); */
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.wave {
  font-family: 'Lato', sans-serif;
  position: relative;
  height: 400px;
  width: 100%;
  margin: 20px 0px -40px;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right, #79f5b1, #03BB55);
}

.wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50% 0% 50%;
  width: 100%;
  height: 170px;
  background-color: #FFF;
  left: 0;
  top: 290px;
}

.wave .text-content img {
  height: 80px;
  width: 300px;
  margin-top: 50px;
  
}

.wave img {
  width: 300px;
  height: 300px;
  max-width: 100%;
  padding-left: 10px;
}

.classes {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}

.classes .classe-content h3 {
  margin-bottom: 1rem;
}

.classes .classes-header img {
  width: 67px;
  height: 67px;
  margin-bottom: 16px;
}

.classes-card {
  height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
  background-color: #FFF;
}

.classes-card:hover {
  transform: translateY(-5px);
}

.disciplinas img{
  transform: translateY(-5px);
  transition: all 0.3s ease-out;
}

.classes-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.classes strong {
  font-size: 21px;
}

.classes p {
  padding: 0px 42px 60px;
  text-align: justify;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.classes .classes-header .student {
  border-radius: 50%;
  height: 182px;
  width: 182px;
  position: absolute;
  top: -86px;
  left: 0px;
}

.approved {
  margin-top: 8em;
}

.approved .classes {
  margin-bottom: 5em;
}

.university {
  flex-direction: column;
  padding-left: 14em;
  padding-bottom: 2em;
  align-items: center;
}

.area {
  position: relative;
  margin-top: 8em;
}

.area img {
  width: 270px;
  height: 230px;
}

.disciplinas {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 5em 12em;
}

.area-esp {
  margin: 3.5em 8em;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(225, 247, 227);
}

.area-prof {
  margin: 5em 12em;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(240, 250, 241);
}

h2 {
  color: #0e5a21;
}

.quemsomos {
  margin: 2em 9em;
  text-align: justify;
  line-height: 20px;
  padding: 50px;

}

.title-text {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(225, 247, 227);
  color: #0e5a21;
}

.sobre h1 h3 p{
  padding: 10px 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 20px;  
}

h3 {
  padding-top: 20px;
}

.classe-content h3 {
  background-color: green;
  margin: 2em 8em;
  color: #F5F5F5;
}

.redes-sociais h2 {
  background-color: green;
  margin: 2em 8em;
}

.our-results {
  padding-bottom: 150px;
}

.results h4 {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(240, 250, 241);
  margin: 5em 12em;
  margin-top: 5px;
  text-align: center;
}

.results {
  margin: 2em 8em;
  text-align: justify;
  line-height: 20px;
}

.class-result {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(225, 247, 227);
  margin: 5em 12em;
}

footer {
  position: relative;
  height: 250px;
  width: 100%;
  background-image: linear-gradient(to right, #79f5b1, #03BB55);
}

footer:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 0% 50% 40% 30%;
  width: 100%;
  height: 210px;
  background-color: #FFF;
  right: 0px;
  top: -120px;
}

.title-footer {
  color: white;
  margin: 2em 8em;
  padding-top: 100px;
}

.redes-sociais {
  position: relative;
  height: 30px;
  width: 100%;
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-around;
}

footer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media(min-width: 680px) {}

@media(min-width: 420px) {}

@media(max-width: 419px) {}