* {
  margin: 0;
  padding: 0;
   box-sizing: border-box; /*preenchimento e a borda na largura e altura total de um elemento. */
  outline: none; /* Um contorno é uma linha desenhada fora da borda do elemento. */
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.wave {
  font-family: 'Lato', sans-serif; /*Define uma família de fontes*/
  position: relative; /*define como um elemento pode ser posicionado (renderizado) no documento (página)*/
  height: 400px;
  width: 100%;
  margin: 0px 0px -40px; /* topo | horizontal | inferior */
  display: flex; 
  justify-content: space-around;  /*define como o navegador distribui o espaço entre e ao redor dos itens de conteúdo 
  ao longo do eixo principal de um contêiner flexível e do eixo embutido de um contêiner de grade.*/
  background-image: linear-gradient(to right, #79f5b1, #03BB55);
}

.wave:after {   /* Seletor = cria um  pseudo-elemento  que é o último filho do elemento selecionado. */
  content: "";  /* é usada com os pseudoelementos ::beforee ::afterpara gerar conteúdo em um elemento */
  display: block; /* especifica o tipo de caixa de renderização usada por um elemento. 
  O elemento gera uma caixa de elemento de bloco. */
  position: absolute; /* é posicionado em relação ao ancestral posicionado mais próximo
   (em vez de posicionado em relação à janela de visualização, como fixo) */
  border-radius: 100% 50% 0% 50%;
  width: 100%;
  height: 170px;
  background-color: #FFF;
  left: 0;
  top: 290px;
}

.wave .text-content img {
  height: 80px;
  width: 300px;
  margin-top: 50px;
  
}

.wave img {
  width: 300px;
  height: 300px;
  max-width: 100%;
  padding-left: 10px;
}

.classes {
  width: 100%;
  display: grid;  /* As grades podem ser usadas ​​para o design de layouts de grandes
   de uma página da web, assim como de pequenos elementos de interface  */
  grid-template-columns: auto auto;  /* especifica o número (e as larguras) das colunas em um layout de grade */
  justify-items: center; /* define o padrão para todos os itens da caixa, dando a todos eles
   uma maneira padrão de justificar cada caixa ao longo do eixo apropriado */
}

.area-prof .classes .profs {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}

.classes .classe-content h3 {
  margin-bottom: 1rem; /* toma sempre por base o elemento raíz da página */
}

.classes .classes-header img {
  width: 67px;
  height: 67px;
  margin-bottom: 16px;
}

.classes-card {
  height: 300px;
  display: flex;
  flex-direction: column; /* define como os itens flexíveis são importantes no contêiner flexível,
  definindo o eixo principal e a direção */
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out; /* permitem que você altere os valores das propriedades suavemente,
  ao longo de um determinado período.  ease-out = especifica um efeito de transição com um final lento*/
  background-color: #FFF;
}

.classes-card:hover {
  transform: translateY(-5px);
}

.disciplinas img{
  transform: translateY(-5px); /*Movimento um elemento em uma determinada direção*/
  transition: all 0.3s ease-out; /*Ela permite definir a transição entre dois estados de um elemento*/
}

.classes-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.classes strong {
  font-size: 21px;
}

.classes p {
  padding: 0px 42px 60px;
  text-align: justify;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.classes .classes-header .student {
  border-radius: 50%;
  height: 182px;
  width: 182px;
  position: absolute;
  top: -86px;
  left: 0px;
}

.approved {
  margin-top: 8em;
}

.approved .classes {
  margin-bottom: 5em;
}

.university {
  flex-direction: column;
  padding-left: 14em;
  padding-bottom: 2em;
  align-items: center;
}

.area {
  position: relative;
  margin-top: 8em;
}

.area img {
  width: 270px;
  height: 230px;
}

.disciplinas {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 5em 12em;
}

.area-esp {
  margin: 3.5em 8em;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(225, 247, 227);
}

.area-prof {
  margin: 5em 12em;
}

h2 {
  color: #0e5a21;
}

.quemsomos {
  margin: 2em 9em;
  text-align: justify;
  line-height: 20px;
  padding: 50px;

}

.title-text {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(225, 247, 227);
  color: #0e5a21;
}

.sobre h1 h3 p{
  padding: 10px 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 20px;  
}

h3 {
  padding-top: 20px;
}

.classe-content h3 {
  background-color: green;
  margin: 2em 8em;
  color: #F5F5F5;
}

.redes-sociais h2 {
  background-color: green;
  margin: 2em 8em;
}

.our-results {
  padding-bottom: 150px;
}

.results h4 {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(240, 250, 241);
  margin: 5em 12em;
  margin-top: 5px;
  text-align: center;
}

.results {
  margin: 2em 8em;
  text-align: justify;
  line-height: 20px;
}

.class-result {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(225, 247, 227);
  margin: 5em 12em;
}

footer {
  position: relative;
  height: 250px;
  width: 100%;
  background-image: linear-gradient(to right, #79f5b1, #03BB55);
}

footer:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 0% 50% 40% 30%;
  width: 100%;
  height: 210px;
  background-color: #FFF;
  right: 0px;
  top: -120px;
}

.title-footer {
  color: white;
  margin: 2em;
  align-items: center;
}

.redes-sociais {
  position: relative;
  height: 30px;
  width: 100%;
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-around;
}

.container-networks{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.container-footer {
  display: flex;
}

.contacts {
  padding-top: 180px;
  padding-left: 220px;
  color: #FFF;
}

footer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media(max-width: 980px) {
  .classes {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
  }

  .area-prof .classes .profs {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
  }

  .our-results {
    padding-top: 50px;
    padding-bottom: 150px;
    height: 100%;
    width: 100%;
  }

  footer {
    height: 100%;
    width: 100%;
  }

}

