* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: #F5F5F5;
}

h2 {
  color: red;
}

.container {
  width: 90%;
  max-width: 1100px;

  margin: 0 auto;
}

.wave { 
  position: relative;
  height: 50vw;
  width: 100%; 
  margin: 1em 8em;
  display: flex;
  justify-content: space-around;
}

.wave .text-content {
  max-width: 320px;
  padding: 20px 0;
}

.wave img {
  width: 300px;
  height: 300px;
  max-width: 100%;
}

.classes {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}

.classes .classe-content h3 {
  margin-bottom: 1rem;
}

.classes .classes-header img {
  width: 67px;
  height: 67px;
  margin-bottom: 16px;
}

.classes-card {
  width: 420px;
  height: 290px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 20px;
}

.classes-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.classes strong {
  font-size: 21px;
}

.classes p {
  padding: 0px 42px 60px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.classes .classes-header .student {
  border-radius: 50%;
  height: 182px;
  width: 182px;
  position: absolute;
  top: -86px;
  left: 0px;
}

#header {
  padding-left: 7em;
  padding-bottom: 5em;
}

.approved {
  margin-top: 8em;
}

.approved .classes {
 margin-bottom: 5em;
}

.approved .classes-card {
  box-shadow: 7px, 7px, 13px, 0 rgba(50, 50, 50, 0.22);
  padding: 20px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
}

.approved .classes-card:hover {
  transform: translateY(-5px);
}

.university {
  flex-direction: column;
}

.area {
  margin-top: 8em;
}

.area img {
  width: 270px;
  height: 230px;
}

.disciplinas {
  display: flex;
  justify-content: space-between;
  margin: 2em 8em;
}

.area-esp {
  background-color: green;
  margin: 2em 8em;
}

h2 {
  color: #F5F5F5;
}

.quemsomos {
  margin: 2em 8em;
  text-align: justify;
  line-height: 20px;
  
}

h3{
  padding-top: 20px;
}

@media(min-width: 680px) {}

@media(min-width: 420px) {}

@media(max-width: 419px) {}