* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 2em 8em;
}

.logo img {
  height: 150px;
  width: 900px;
  margin: 2em 6em;
  
  
}

main {
  background: -o-linear-gradient(yellow blue);
}


.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.classes {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}

.classes .classe-content h3 {
  margin-bottom: 1rem;
}

.classes .classes-header img {
  width: 67px;
  height: 67px;
  margin-bottom: 16px;
}

.classes-card {
  height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
}

.classes-card:hover {
  transform: translateY(-5px);
}

.classes-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.classes strong {
  font-size: 21px;
}

.classes p {
  padding: 0px 42px 60px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.classes .classes-header .student {
  border-radius: 50%;
  height: 182px;
  width: 182px;
  position: absolute;
  top: -86px;
  left: 0px;
}


.approved {
  margin-top: 8em;
}

.approved .classes {
 margin-bottom: 5em;
}

.approved p {
  margin-bottom: 10em;
}

.university {
  flex-direction: column;
  padding-left: 14em;
  padding-bottom: 5em;
  align-items: center;
}

.area {
  margin-top: 8em;
}

.area img {
  width: 270px;
  height: 230px;
}

.disciplinas {
  display: flex;
  justify-content: space-between;
  margin: 2em 8em;
}

.area-esp {
  background-color: green;
  margin: 2em 8em;
}


h2 {
  color: #F5F5F5;
}

.quemsomos {
  margin: 1em 4em;
  text-align: justify;
  line-height: 20px;
  background-color: greenyellow;
  
}

.quemsomos  {
  background-color: mediumseagreen;

}

.quemsomos p {
  padding: 10px 30px;
}

h3{
  padding-top: 20px;
}

.classe-content h3 {
  background-color: green;
  margin: 2em 8em;
  color: #F5F5F5;

}

.redes-sociais h2 {
  background-color: green;
  margin: 2em 8em;
}

.results h2 {
  background-color: green;
  margin: 2em 8em;
}

.results {
  margin: 2em 8em;
  text-align: justify;
  line-height: 20px;
}

.title-footer{
  background-color: green;
  margin: 2em 8em;
}

.redes-sociais {
  position: relative;
  height: 30px;
  width: 100%; 
  margin: 2em 8em;
  display: flex;
  justify-content: space-around;
}

footer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


@media(min-width: 680px) {}

@media(min-width: 420px) {}

@media(max-width: 419px) {}